* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #8200ff;
    color: white;
    padding: 16px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    height: 30px;
}


.navbar {
    background-color: #8200ff;
    padding: 16px;
}

.navlist {
    display: flex;
    justify-content: space-between;
    color: white;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
}

.navlist li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}