.container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    max-width: 1600px;
    padding: 24px 12px;
    width: 100%;
    gap: 24px;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border: 1px solid #f0f3f4;
    border-radius: 5px;
    box-shadow: 0 2px 8px 0 rgba(99, 99, 99, .2);
    height: 70%;
    margin: 0 2px 24px;
    padding: 12px 12px 24px;
}

.CardImg {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 12px;
}

.CardImg img {
    width: 500px;
}

.description {
    background-color: #EAECF0;
    padding: 30px;
}

