.banner {
    width: 70%;
    display: flex;
    padding: 20px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

img {
    width: 350px;
    height: auto;
    border-radius: 8px;
}

h1 {
    font-size: 2.5rem;
    color: #000000;
    text-align: left;
}

h3 {
    font-size: 1.5rem;
    color: #000000;
    text-align: left;
}

button {
    padding: 5px 80px;
    font-size: 1rem;
    background-color: rgba(97, 218, 251, 0);
    border: 1px solid #000000;
    border-radius: 20px;
    cursor: pointer;
}