h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.formularioContainer {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.1)
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
}

.field label {
    margin-bottom: 8px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.field input, .field textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
}

.form button {
    align-self: center;
    padding: 10px 20px;
    width: 140px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}



