.container-marcas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 50px;
    gap: 50px;

}


.marcas {

    color: rgb(178, 129, 129);
    border: none;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.marcas img{
    max-width: 100%;
    max-height: 100%;
}

.botao{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(10, 10, 10);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    width: 400px;
    font-size: 16px;
}