.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1600px;
    padding: 24px 12px;
    width: 100%;
    gap: 24px;
}

.sidebar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.sidebar button {
    background-color: #b270ef;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}