.footerCustom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    border-top: 1px solid #bdbdbd;
    font-size: 14px;
    padding: 30px 20px;

}

.footerContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footerLinks {
    display: flex;
    gap: 20px;
}

.footerLinks a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.footerIcons {
    display: flex;
    gap: 15px;
}

.footerIcons a {
    color: #fff;
}

i {
    font-size: 20px;
}

.footerCopy {
    text-align: start;
    font-size: 12px;
    color: #bdbdbd;
    margin-top: 10px;
}