body {

    background: rgb(209, 208, 210);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: blueviolet;
    color: rgb(255, 255, 255);
    padding: 40px 30px;
    border-radius: 20px 20px 40px 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    width: 320px;
    text-align: left;

}

h1 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 25px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: lowercase;
}


input[type="number"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 12px 15px;
  border-radius: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
  background: #fff;
  box-sizing: border-box;
}


button {
  width: 100%;
  background: #001a66;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 5px;
}

button:hover {
  background: #002b99;
}


#resultado {
  margin-top: 20px;
  background: white;
  color: #001a66;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
  font-weight: bold;
}